:root {
  --main-red: #7f1d1d;
  --gray-darker: #0d0d0d;
  --text-light: #eaeaea;
}

body {
  background-color: var(--gray-darker);
  color: var(--text-light);
  font-family: "Playfair Display", serif;
  transition: background-color 0.5s ease;
}
